[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule ".vim/vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bufstop"]
	path = .vim/bufstop
	url = https://github.com/mihaifm/bufstop
  ignore = dirty
[submodule ".vim/goyo.vim"]
	path = .vim/goyo.vim
	url = https://github.com/junegunn/goyo.vim
  ignore = dirty
[submodule ".vim/gruvbox"]
	path = .vim/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/lightline.vim"]
	path = .vim/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/python-mode"]
	path = .vim/python-mode
	url = https://github.com/klen/python-mode
[submodule ".vim/riv.vim"]
	path = .vim/riv.vim
	url = https://github.com/Rykka/riv.vim
[submodule ".vim/scvim"]
	path = .vim/scvim
	url = https://github.com/sbl/scvim
[submodule ".vim/vim-clojure-static"]
	path = .vim/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/vim-faust"]
	path = .vim/vim-faust
	url = https://github.com/gmoe/vim-faust
[submodule ".vim/vim-glsl"]
	path = .vim/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".vim/vim-salve"]
	path = .vim/vim-salve
	url = https://github.com/tpope/vim-salve
[submodule ".vim/vim-lilypond"]
	path = .vim/vim-lilypond
	url = https://github.com/cg433n/vim-lilypond
[submodule ".vim/vim-markdown"]
	path = .vim/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/vim-niji"]
	path = .vim/vim-niji
	url = https://github.com/raymond-w-ko/vim-niji
[submodule ".vim/vim-scala"]
	path = .vim/vim-scala
	url = https://github.com/derekwyatt/vim-scala/
[submodule ".vim/vim-startify"]
	path = .vim/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".vim/vim-vinegar"]
	path = .vim/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/hasksyn"]
	path = .vim/hasksyn
	url = https://github.com/travitch/hasksyn
[submodule ".vim/html5.vim"]
	path = .vim/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/vim-javascript"]
	path = .vim/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/--force"]
	path = .tmux/plugins/--force
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tmux-wifi-macos"]
	path = .tmux/plugins/tmux-wifi-macos
	url = https://github.com/gmoe/tmux-wifi-macos.git
[submodule ".vim/vim-coffee-script"]
	path = .vim/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/vim-mustache-handlebars"]
	path = .vim/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule ".vim/vim-ledger"]
	path = .vim/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule ".vim/vim-htmlbars-inline-syntax"]
	path = .vim/vim-htmlbars-inline-syntax
	url = https://github.com/dustinfarris/vim-htmlbars-inline-syntax
[submodule ".vim/vim-commentary"]
	path = .vim/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/vim-surround"]
	path = .vim/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/vim-repeat"]
	path = .vim/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/vim-jsx-pretty"]
	path = .vim/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule ".vim/vim-graphql"]
	path = .vim/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule ".vim/vim-tidal"]
	path = .vim/vim-tidal
	url = git@github.com:tidalcycles/vim-tidal.git
[submodule ".vim/vim-eslint-syntax"]
	path = .vim/vim-eslint-syntax
	url = git@github.com:gmoe/vim-eslint-syntax.git
