[push]
  default = simple
[user]
  name = Griffin Moe
  email = me@griffinmoe.com
[core]
  excludesfile = /Users/gmoe/.gitignore_global
  editor = vim
  untrackedCache = true
[blame]
  coloring = highlightRecent
  date = short
[alias]
  pr = "!pr() { [[ \"$#\" -eq  \"2\" ]] && git fetch upstream pull/$1/head:$2 || echo 'format: git pr <pr-id> <local-branch-name'; }; pr"
  conflicts = "diff --relative='./' --name-only --diff-filter=U"
  fork-point = "!fp() { [[ \"$#\" -eq \"1\" ]] && git merge-base $1 HEAD || git merge-base upstream/master HEAD; }; fp"
  new = !git init && git symbolic-ref HEAD refs/heads/main
[diff]
  tool = vimdiff
  algorithm = histogram
[difftool]
  prompt = false
