[push]
  default = simple
[user]
  name = Griffin Moe
  email = me@griffinmoe.com
[core]
  excludesfile = /Users/gmoe/.gitignore_global
  editor = vim
[blame]
  coloring = highlightRecent
  date = short
[alias]
  pr = "!pr() { [[ \"$#\" -eq  \"2\" ]] && git fetch upstream pull/$1/head:$2 || echo 'format: git pr <pr-id> <local-branch-name'; }; pr"
  conflicts = "diff --relative='./' --name-only --diff-filter=U"
[diff]
  tool = vimdiff
[difftool]
  prompt = false
